[submodule "benchmarks/mathematica"]
	path = benchmarks/mathematica
	url = https://github.com/stephensolis/modmap-generator
[submodule "kameris-formats"]
	path = kameris-formats
	url = https://github.com/stephensolis/kameris-formats
