[submodule "benchmarks/mathematica"]
	path = benchmarks/mathematica
	url = https://github.com/stephensolis/modmap-generator-mma
[submodule "mmg-formats"]
	path = mmg-formats
	url = https://github.com/stephensolis/modmap-generator-formats
